<nav class="bg-blue-950 text-white">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center py-4">
      <!-- Logo -->
      <div class="text-lg">
        <a href="#" class="text-white">Constructora SYL</a>
      </div>

      <!-- Links -->
      <div class="hidden md:flex space-x-8">
        <button (click)="scrollTo('services')" class="hover:text-yellow-400 transition duration-300">Servicios</button>
        <button (click)="scrollTo('contact')" class="hover:text-yellow-400 transition duration-300">Sobre Nosotros</button>
        <button (click)="scrollTo('contact')" class="hover:text-yellow-400 transition duration-300">Contacto</button>
      </div>

      <!-- Botón de llamada a la acción -->
<!--       <button (click)="scrollTo('contact')" class="hidden bg-copper text-white py-2 px-4 rounded-lg hover:bg-yellow-400 transition duration-300">
        Contáctanos
      </button> -->

      <!-- Menú móvil -->
      <div class="md:hidden">
        <button class="text-white focus:outline-none" (click)="toggleMenu()">
          <!-- Icono del menú (hamburguesa) -->
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Menú móvil desplegable -->
  <div *ngIf="isMenuOpen" class="md:hidden flex flex-col items-end mx-4 mt-4 p-4 rounded-lg shadow-lg">
    <button (click)="scrollTo('services')" class="menu-item hover:text-yellow-400 transition duration-300">Servicios</button>
    <button (click)="scrollTo('contact')" class="menu-item hover:text-yellow-400 transition duration-300">Sobre Nosotros</button>
    <button (click)="scrollTo('contact')" class="menu-item hover:text-yellow-400 transition duration-300">Contacto</button>
  </div>
</nav>

<header  class="relative bg-cover bg-center bg-fixed text-white py-24"
        style="background-image: url('../../../assets/img/bannerS.png');">

  <div class="absolute inset-0 bg-gray-800 opacity-25"></div>

  <div class="relative  mx-auto px-4 sm:px-6 lg:px-8 text-center z-10">
    <div class="mb-8">
      <!-- <img src="path/to/logo.png" alt="Logo de Constructora SYL" class="mx-auto h-24 mb-4"> -->
      <h1 class="text-5xl font-extrabold mb-6">Bienvenidos a Constructora SYL</h1>
      <p class="text-xl mb-8">
        Expertos en soluciones integrales de construcción, eficiencia energética y retiros de asbestos. Construimos un futuro más sostenible y seguro para nuestros clientes.
      </p>
    </div>
    
    <!-- Botón de llamada a la acción -->
    <button (click)="scrollTo('contact')" class="bg-copper text-white py-3 px-6 rounded-lg shadow-lg hover:bg-yellow-400 transition duration-300">
      Contáctanos
    </button>
    
  </div>
</header>
